*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 2700px;
    background-image: linear-gradient(hsl(346, 75%, 83%),#fff);
    font-family: Tahoma, Geneva, sans-serif;
}

.main{
    width: 90%;
    height: 2600px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 10px;
    margin: auto;
    margin-top: 110px;
    background-color: #fff;
}
/* phần đầu */
.header{
    background-image: url(308965446_1894737294208247_501969460259884490_n.jpg);
    width: 100%;
    border-radius: 10px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
.v{
    background-color:#0082a0;
}
.logo{
    width: 15%;
    margin-top: 40px;
    margin-left: 50px;
}
/* thanh điều hướng */
.nav{
   display: flex;
   justify-content: space-evenly;
   width: 98%;
   height: 40px;
   background-color: hsl(346, 75%, 83%);
   margin: auto;
   border-radius: 5px;
}

.nav-bar>li{
    position: relative;
    line-height: 40px;
    display: inline-block;
}

.sub-nav>li,
.nav-bar>li{
    list-style: none;
}

.sub-nav>li>a,
.nav-bar>li>a{
    text-decoration: none;
}

.nav-bar>li:hover>a{
    color: #fff;
    background-color: #0082a0;
}

.other:hover .sub-nav{
    display: block;
}

.nav-bar>li>a{
    padding-left: 40px;
    padding-right: 40px;
    color: #000000;
    font-weight: 900;
    display: block;
    font-size: 1.2rem;
}

.sub-nav>li>a{
    color: #0082a0;
    font-weight: 800;
    font-size: 1.0rem;
    padding: 0 20px;
    display: block;
}

.sub-nav>li>a:hover{
    color: #fff;
    background-color: #0082a0;
}

.sub-nav{
    display: none;
    background-color: #fff;
    width: 200px;
    height: 80px;
    position: absolute;
    box-shadow: 0 0 3px #ccc;
}
.aside{
    width: 30%;
    height: 2000px;
    float: right;
    margin-top: 8px;
}

.title{
    color: red;
    font-size: 1.2rem;
}

.hr1{
    width: 97%;
}

.img1{
    margin-top: 5px;

}

.img-alike{
    width: 47%;
    border-radius: 10px;
}

.img-alike2{
    width: 47%;
    border-radius: 10px;
}

.img-alike3{
    width: 95%;
    height: 70px
}

.alike4{
    width: 96%;
    height: 40px;
}

/* box1 */

.box1{
    width: 95%;
    height: 230px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

.title2{
    padding-top: 10px;
    margin-left: 5px;
    color: red;
    font-size: 1.2rem;
}

.hr2{
    margin: auto;
    margin-top: 5px;
    width: 97%;
}

.document1{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.0rem;
}


.box1-2{
    width: 95%;
    height: 80px;
    border: 2px solid #ccc;
    margin-left: 10px;
    margin-top: 10px;
}

.img-alike6{
    margin: 5px 0 0 10px;
    width: 20%;
    height: 60px;
}

/* box2 */
.box2{
    width: 95%;
    height: 520px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

.title3{
    color: red;
    font-size: 1.2rem;
    padding-top: 10px;
    margin-left: 10px;
}

.hr3{
    margin: auto;
    margin-top: 5px;
    width: 97%;
}

.link-news{
    margin-top: 10px;
    margin-bottom: 20px;
}

.img2{
    width: 17%;
    margin-left: 13px;
    box-shadow: 3px 3px 10px #595858;
}

.link1{
float: right;
    font-size: 1.0rem;
    text-decoration: none;
    color: #000;
}

.link1:hover{
    color: red;
}

.hr4{
    margin-top: 20px;
    margin: auto;
    width: 97%;
}

.link-news2{
    margin-top: 10px;
    margin-bottom: 20px;
}

.img3{
    width: 17%;
    margin-left: 13px;
    box-shadow: 3px 3px 10px #595858;
}

.link2{
    float: right;
    font-size: 1.0rem;
    text-decoration: none;
    color: #000;
}

.link2:hover{
    color: red;
}

.hr5{
    margin-top: 20px;
    margin: auto;
    width: 97%;
}

.link-news3{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.img4{
    width: 17%;
    margin-left: 13px;
    box-shadow: 3px 3px 10px #595858;
}

.link3{
    float: right;
    font-size: 1.0rem;
    text-decoration: none;
    color: #000;
}

.link3:hover{
    color: red;
}

.hr6{
    margin-top: 20px;
    margin: auto;
    width: 97%;
}

.link-news4{
    margin-top: 10px;
}

.img5{
    width: 17%;
    margin-left: 13px;
    box-shadow: 3px 3px 10px #595858;
}

.link4{
    float: right;
    font-size: 1.0rem;
    text-decoration: none;
    color: #000;
}

.link4:hover{
    color: red;
}

.hr7{
    margin-top: 20px;
    margin: auto;
    width: 97%;
}

.link-news5{
    margin-top: 10px;
}

.img6{
    width: 20%;
    margin-left: 13px;
    box-shadow: 3px 3px 10px #595858;
}

.link5{
    float: right;
    font-size: 1.0rem;
    text-decoration: none;
    color: #000;
}

.link5:hover{
    color: red;
}

/* box3 */

.box-img{
    float: left;
    width: 47%;
}
.list-img>li{
    list-style-type: none;
    line-height: 30px;
}

.list-img>li>img{
    width: 85%;
}

.img-alike7{
    width: 47%;
    float: right;
    margin-right: 30px;
    height: 30px;
}

.box3-1{
    float: right;
    width: 45%;
    height: 350px;
    border: 3px solid #ccc;
    margin-right: 30px;
}

.title4{
    color: red;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: 10px;
}

.hr8{
    width: 95%;
    margin: auto;
    margin-top: 5px;
}

.box3-1>ul>li>a{
    text-decoration: none;
    font-size: 1.0rem;
    color: #000;
    line-height: 7px;
}

.box3-1>ul>li>a:hover{
    color: red;
}

/* box4 */
.box4{
    width: 95%;
    height: 170px;
    border: 3px solid #ccc;
    float: left;
    border-radius: 10px;
}

.title5{
    color: red;
    margin: 10px 0 0 10px;
    font-size: 1.2rem;
}

.hr9{
    width: 95%;
    margin: auto;
    margin-top: 5px;
}

.document2{
    font-size: 1.0rem;
    margin: 12px 0 0 10px;
    color: #000;
    line-height: 25px;
}

/* box5 */
.box5{
    width: 95%;
    height: 70px;
    border: 3px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

/* box6 */
.box6{
    width: 95%;
    height: 420px;
    border: 3px solid #ccc;
    border-radius: 10px;
}

.title6{
    color: red;
    font-size: 1.4rem;
    margin: 10px 0 0 10px;
}

.hr10{
    width: 95%;
    margin: auto;
    margin-top: 5px;
}

.img-alike8{
display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-alike8-1{
    margin-top: 20px;
    width: 40%;
    border: 10px double #ccc;
}
.title7{
    color: red;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-top: 1170px;
}
/* article */
.giamhieu{
    color: red;
}
.m{
    font-size: 92%;
    position: relative;
    font-style: italic;
    color: #666;
    border-bottom: 1px dotted #666;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
}
.n , .t{
    text-align: center;
    font-size: 92%;
    position: relative;
    color: #666;
    line-height: 20px;
    overflow: hidden;
}
.span{
    font-weight: bolder;
}
.lk>h2{
    color:red;
}
.lk{
    border:1px solid gray;
    border-radius: 10px;
    height: 60px;
    margin-left: 10px;
    float:left ;
    width: 69%;
}
/* footer */
hr11{
    width: 98%;
    margin: auto;
    margin-top: 5px;
}
/* footer */
.list-phone{
    margin: auto;
    width: 60%;
    height: 30px;
    border: 3px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #ccc;
    float: left;
}

.list-phone>a{
    color: #000;
    text-decoration: none;
    line-height: 25px;
    font-weight: 600;
    font-size: 0.8rem;
}

.list-phone>a:hover{
    color: red;      
}
.title7{
    color: red;
    font-size: 1.2rem;
    margin-left: 5px;
    margin-top: 1170px;
}